* {
  padding: 0;
  margin: 0;
}

.header {
  display: flex;
  flex-direction: row;
  max-width: 375px;
  height: 50px;
}
.languages li {
  display: inline-block;
}

.top-row-one {
  display: flex;
  margin-left: 600px;
}

.new-end-section {
  margin-left: 190px;
  margin-right: 190px;
}

.about-me {
  margin-left: 670px;
  font-size: 40px;
  line-height: 52px;
  margin-top: 200px;
  margin-bottom: 25px;
  white-space: nowrap;
}

.about-me-end-section {
  list-style: none;
  display: flex;
  margin-left: 50px;
  flex-wrap: wrap;
  padding: 0;
}

.type-of-cards {
  display: flex;
  flex-direction: column;
  padding: 30px 0 0 0;
  margin-bottom: 2em;
  height: 352px;
  width: 327px;
  background: #ebf0ee;
  border-radius: 5px;
}

.cat-things {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
}

.cat-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cat-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-top {
  margin-left: 20px;
  margin-right: 20px;
  color: #172b4d;
  font-size: 20px;
}

.style1 {
  background-color: white;
  color: #36b37e;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 8px;
  padding-left: 8px;
  font-size: 18px;
  line-height: 16px;
  border-radius: 8px;
}

.type-of-cards > .cat-things > li {
  background: white;
  color: #36b37e;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 13px;

  border-radius: 5px;
  margin: 3px;
  padding: 10px;
}

.welcome {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  margin-left: 35px;
  display: inline-block;
}

.paragraph {
  font-size: 18px;
  line-height: 30px;
  word-wrap: break-word;
  width: 400px;
  margin-left: 30px;
  color: #172b4d;
}

.para-box {
  width: 1200px;
  margin-left: 260px;
}

.paragraph2 {
  color: #172b4d;
  font-size: 20px;
  line-height: 32px;
  margin-left: 200px;
  margin-top: -80px;
}

.union {
  width: 18px;
  height: 12px;
  display: inline-block;
  margin-left: 230px;
}

.bottom-part {
  display: flex;
}

.main-part {
  width: 1305px;
  flex-wrap: wrap;
  display: flex;
}

.hi {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  line-height: 52px;
  color: #172b4d;
  position: absolute;
  top: 135px;
  left: 35px;
}

.greeting2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-info2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text1a {
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

.text-info2b {
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

.text-info3c {
  font-size: 20px;
  line-height: 32px;
  color: #42526e;
}

.hi-alex {
  color: #172b4d;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  position: absolute;
  top: 200px;
  left: 480px;
}

.job-two {
  color: #36b37e;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  position: absolute;
  top: 250px;
  left: 440px;
}

.porto {
  color: #172b4d;
  font-size: 20px;
}

.con {
  color: #172b4d;
  font-size: 20px;
}

.first-name {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  line-height: 52px;
  color: #172b4d;
  position: absolute;
  top: 190px;
  left: 120px;
}

.job {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  line-height: 52px;
  color: #36b37e;
  position: absolute;
  left: 35px;
  top: 250px;
}

.job-info {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  line-height: 52px;
  color: #36b37e;
  position: absolute;
  left: 95px;
  top: 310px;
}

.information-box {
  width: 550px;
  height: 400px;
  align-items: center;
  position: absolute;
  top: 400px;
}

.info {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 0.5;
  color: #172b4d;
  margin-left: 35px;
}

.info2 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 0.5;
  color: #172b4d;
  margin-left: 35px;
}

.info3 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 0.5;
  color: #172b4d;
  margin-left: 35px;
}

.info4 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 0.5;
  color: #172b4d;
  margin-left: 35px;
}

.info5 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 0.5;
  color: #172b4d;
  margin-left: 35px;
}

.info6 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 0.5;
  color: #172b4d;
  margin-left: 35px;
}

.languages {
  display: flex;
}

.icons {
  position: absolute;
  top: 670px;
  left: 90px;
}

.icon-row {
  display: flex;
  position: absolute;
  top: 650px;
  left: 100px;
}

.tweet {
  margin-right: 20px;
}

.linked {
  margin-right: 20px;
}

.med {
  margin-right: 20px;
}

.git {
  margin-right: 20px;
}

.top-one {
  display: flex;
  align-items: center;
  margin-left: -1190px;
  flex-direction: column;
}

.work {
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.work-2 {
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-top: -20px;
}

.Indicator {
  margin-left: 130px;
}

.project-name1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 32px;
  color: #3a4a42;
  margin-left: 25px;
  margin-top: 20px;
}

.project-name-two {
  font-weight: bold;
  font-size: 35px;
  line-height: 32px;
  color: #3a4a42;
  margin-left: 60px;
  margin-bottom: 20px;
}

.container {
  width: 327px;
  height: 474px;
  border-radius: 8px;
  font-weight: bold;
  display: grid;
  grid-template-rows: 1fr;
  border-color: #d0d9d4;
  border-width: 1px;
  border-style: solid;
  margin-top: 30px;
  margin-left: 20px;
  align-content: space-around;
  justify-content: space-between;
}

.big-works {
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-left: 500px;
}

.column1 {
  background-color: #d0d9d4;
}

.column2 {
  background-color: white;
}

.ruby {
  border-style: none;
  border-radius: 5px;
  background-color: #ebf0ee;
  padding: 8px;
  float: right;
}

.css {
  border-style: none;
  border-radius: 5px;
  background-color: #ebf0ee;
  padding: 6px;
  clear: right;
}

.js {
  border-style: none;
  border-radius: 5px;
  background-color: #ebf0ee;
  padding: 6px;
  clear: right;
}

.html {
  border-style: none;
  border-radius: 5px;
  background-color: #ebf0ee;
  padding: 6px;
  clear: right;
}

.ruby:hover {
  text-decoration: underline rgb(6, 14, 243);
  border: 1px solid rgb(6, 14, 243);
}

.css:hover {
  text-decoration: underline rgb(6, 14, 243);
  border: 1px solid rgb(6, 14, 243);
}

.js:hover {
  text-decoration: underline rgb(6, 14, 243);
  border: 1px solid rgb(6, 14, 243);
}

.html:hover {
  text-decoration: underline rgb(6, 14, 243);
  border: 1px solid rgb(6, 14, 243);
}

.see-project-btn {
  background-color: #36b37f;
  color: #ebf0ee;
  font-size: 20px;
  border-radius: 5px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  margin-left: 75px;
  margin-top: 40px;
}

.about {
  height: 48px;
  width: 351px;
}

.rocket {
  position: absolute;
  left: 300px;
  top: 3435px;
}

.text1 {
  font-size: 23px;
  line-height: 32px;
  color: #42526e;
  margin-left: 15px;
}

.text2 {
  font-size: 23px;
  line-height: 32px;
  color: #42526e;
  margin-left: 15px;
}

.text3 {
  font-size: 23px;
  line-height: 32px;
  color: #42526e;
}

.text4 {
  font-size: 23px;
  line-height: 32px;
  color: #42526e;
  margin-left: 15px;
}

.text5 {
  font-size: 23px;
  line-height: 32px;
  color: #42526e;
  margin-left: 55px;
}

.text6 {
  font-size: 23px;
  line-height: 32px;
  color: #42526e;
  margin-left: 37px;
}

.resume-btn {
  background-color: #36b37f;
  color: #ebf0ee;
  font-size: 20px;
  border-radius: 5px;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  margin-left: 100px;
  margin-top: 25px;
  margin-bottom: 20px;
  border: none;
}

.resume-btn:hover {
  cursor: pointer;
}

.see-project-btn:hover {
  cursor: pointer;
}

.globe {
  position: absolute;
  left: 112px;
  top: 4300px;
}

.frame2 {
  position: absolute;
  left: 112px;
  top: 4680px;
}

.languages2 {
  position: absolute;
  left: 120px;
  top: 4400px;
  color: #172b4d;
}

.frameworks2 {
  position: absolute;
  left: 112px;
  top: 4780px;
  color: #172b4d;
}

.icon-frame {
  position: absolute;
  left: 112px;
}

.skills {
  position: absolute;
  left: 145px;
  top: 5170px;
  color: #172b4d;
}

.light {
  position: absolute;
  left: 112px;
  top: 5070px;
}

.projects {
  width: 327px;
  height: 363px;
  color: #172b4d;
  font-weight: bold;
  font-size: 25px;
  white-space: initial;
  margin-left: 40px;
}

.name {
  height: 48px;
  width: 327px;
  border-style: solid;
  border-width: 1px;
  border-color: #d0d9d4;
  margin-left: 15px;
  position: absolute;
  top: 5130px;
}

.name-last {
  height: 48px;
  width: 327px;
  border-style: solid;
  border-width: 1px;
  border-color: #d0d9d4;
  margin-left: 15px;
  position: absolute;
  top: 5200px;
}

.enter {
  height: 114px;
  width: 327px;
  border-style: solid;
  border-width: 1px;
  border-color: #d0d9d4;
  margin-left: 15px;
  position: absolute;
  top: 5270px;
}

.name:hover {
  text-decoration: underline rgb(6, 14, 243);
  border-color: transparent;
  box-shadow: 0 0 0 1px rgb(6, 14, 243);
}

.name-last:hover {
  text-decoration: underline rgb(6, 14, 243);
  border-color: transparent;
  box-shadow: 0 0 0 1px rgb(6, 14, 243);
}

.enter:hover {
  text-decoration: underline rgb(6, 14, 243);
  border-color: transparent;
  box-shadow: 0 0 0 1px rgb(6, 14, 243);
}

.touch-btn {
  background-color: #36b37c;
  color: #ebf0ee;
  font-size: 17px;
  border-radius: 5px;
  height: 48px;
  width: 129px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  position: absolute;
  top: 6070px;
  left: 80px;
  border: none;
  font-weight: 400;
  margin-bottom: 45px;
}

.touch-btn:hover {
  cursor: pointer;
  background: #46bc89;
}

.icon-row2 {
  display: flex;
  position: absolute;
  top: 6180px;
  left: 78px;
}

.email-address {
  width: 375px;
  height: 189px;
}

.new-paragraph {
  padding: 40px;
  font-size: 25px;
  color: #172b4d;
}

.email {
  color: #42526e;
  font-size: 20px;
  line-height: 32px;
  position: absolute;
  left: 70px;
  top: 6130px;
}

.email:hover {
  text-decoration: underline rgb(6, 14, 243);
}

.contactpage {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#user_name {
  width: 327px;
  height: 48px;
  border-radius: 4px;
}

#text-box {
  width: 684px;
  height: 114px;
  color: #091e42;
}

.textline1 {
  margin-left: 22px;
  font-size: 38.5px;
  font-family: Arial, Helvetica, sans-serif;
}

.textline2 {
  margin-left: 10px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.textline3 {
  margin-left: 10px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.textline4 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.textline5 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.textline6 {
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.textline7 {
  margin-left: 50px;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

input[type='text'] {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

input[type='email'] {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 15px;
  padding-top: 15px;
}

#full-name {
  border-width: 1px;
  color: #091e42;
  margin-left: 10px;
}

#email {
  border-width: 1px;
  color: #091e42;
  margin-left: 10px;
}

.name-text-box {
  width: 327px;
  height: 48px;
  margin-bottom: 24px;
  border-radius: 4px;
  margin-left: 10px;
}

.name-last-text-box {
  width: 327px;
  height: 48px;
  margin-bottom: 24px;
  border-radius: 4px;
}

.projects-2-big {
  margin-top: 50px;
  width: 463px;
  height: 256px;
  font-size: 15px;
  line-height: 45px;
  color: #172b4d;
  font-weight: bold;
  margin-right: 700px;
  align-items: center;
}

.enter-form {
  width: 327px;
  height: 114px;
  border-radius: 4px;
  border-width: 1px;
  border-color: #60c095;
  margin-left: 10px;
}

.touch-btn:active {
  background: #03884c;
}

.touch-btn:focus {
  background: #03884c;
}

.contact-part {
  margin-left: 200px;
}

input[type='text']::placeholder {
  padding-left: 15px;
}

input[type='email']::placeholder {
  padding-left: 15px;
}
@media (min-width: 768px) {
  .about-me-end-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%;
    justify-content: space-between;
  }
}

@media screen and (min-width: 600px) {
  .cell-info {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .union {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .header1 {
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    height: 72px;
    align-items: center;
    justify-items: center;
  }
}

@media screen and (max-width: 600px) {
  .about-section-top {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .welcome {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .big-info {
    display: flex;
  }

  .background-photo1 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .background-photo2 {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .portoflio {
    font-size: 12px;
    color: #36b37f;
  }
}

@media screen and (min-width: 600px) {
  .header-personal-info {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .porto {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .about-top {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .con {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .greeting {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .greeting2 {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  .information-box {
    width: 920px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media screen and (min-width: 600px) {
  .paragraph {
    font-size: 20px;
    line-height: 32px;
    color: #172b4d;
    margin-left: 450px;
    margin-top: -75px;
  }
}

@media screen and (min-width: 600px) {
  .icon-row {
    display: flex;
    position: absolute;
    top: 440px;
    left: 620px;
  }
}

@media screen and (min-width: 600px) {
  .container {
    width: 369px;
  }

  .column1 {
    width: 369px;
  }

  .column2 {
    width: 369px;
  }

  .type-of-cards {
    display: flex;
    flex-direction: column;
    padding: 30px 0 0 0;
    margin-bottom: 2em;
    height: 352px;
    width: 327px;
    background: #ebf0ee;
    border-radius: 5px;
  }

  .grid-containers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 1100px;
    margin-left: 130px;
  }

  .top-one {
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
  }
  .form-section {
    margin-left: 450px;
    width: 2000px;
  }

  .input-box-box {
    margin-top: -285px;
  }

  .Indicator {
    display: none;
  }

  .project-name1 {
    margin-left: 50px;
  }

  .project-name-two {
    margin-left: 100px;
  }

  .languages {
    margin-left: 40px;
  }

  .see-project-btn {
    margin-left: 120px;
    border: none;
  }

  .text-info1 {
    display: none;
  }

  .resume-btn {
    width: 159px;
    height: 48px;
    border-radius: 4px;
    margin-left: 680px;
    font-size: 17px;
  }

  .big-bit {
    display: flex;
    margin-left: 235px;
  }

  .frameworks2 {
    position: absolute;
    top: 2490px;
    left: 700px;
  }

  .frame {
    position: absolute;
    top: 1000px;
    left: 750px;
  }

  .skills {
    position: absolute;
    top: 2490px;
    left: 385px;
  }

  .center-row {
    position: absolute;
    top: -1955px;
  }

  .globe {
    position: absolute;
    top: 2360px;
    left: 345px;
  }

  .light {
    position: absolute;
    top: 2370px;
    left: 1030px;
  }

  .frame2 {
    position: absolute;
    top: 2370px;
    left: 700px;
  }

  .languages2 {
    position: absolute;
    top: 2490px;
    left: 1050px;
  }

  .projects {
    display: none;
  }

  .ruby-rails {
    background-color: white;
    color: #36b37e;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 18px;
    line-height: 16px;
    border-radius: 8px;
    margin-left: 8px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .email {
    display: none;
  }

  .send-btn {
    background-color: #36b37f;
    color: #ffff;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    padding: 5px;
    margin: 14px;
    width: 129px;
    height: 48px;
    margin-bottom: 45px;
    margin-right: 580px;
  }

  .send-btn:hover {
    cursor: pointer;
    background: #46bc89;
  }

  .projects-end {
    display: none;
  }
  .icon-row-footer {
    display: flex;
    margin-right: 110px;
  }
  .name-text-box {
    width: 684px;
    height: 48px;
    margin-bottom: 24px;
    border-radius: 4px;
    margin-left: 10px;
  }

  .name-last-text-box {
    width: 684px;
    height: 48px;
    margin-bottom: 24px;
    border-radius: 4px;
  }

  .enter-form {
    width: 684px;
  }
  .paragraph {
    display: none;
  }

  .work {
    display: none;
  }
  .work-2 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .text-info2 {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .projects-2-big {
    display: none;
  }

  .paragraph2 {
    display: none;
  }

  .big-works {
    display: none;
  }
}

.touch-btn {
  display: none;
}

.main-section {
  width: 100%;
  height: 100vh;
  background: url(desktop2.svg) no-repeat center / cover;
}
